@font-face {
    font-family: 'livvic';
    src: url(../../assets/fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: 'livvic-bold';
    src: url(../../assets/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: 'livvic-med-ita';
    src: url(../../assets/fonts/Livvic-MediumItalic.ttf);
}

@font-face {
    font-family: 'livvic-semi';
    src: url(../../assets/fonts/Livvic-SemiBold.ttf);
}