// Colors
// header and cards background
$clr1: #014e56;
// second part and footer background
$clr2: #012f34;
// text emphasis
$clr3: #79c8c7;
// pink parts
$clr4: #f67e7e;
// text
$clr5: #ffffff;

// Breakpoints
// $mobile-breakpoint: 375px;
$mobile-breakpoint: 414px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1110px;